@import url(https://fonts.googleapis.com/css?family=Jost:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #2C3335;
  overflow-x: hidden;
}

.product-section {
  width: 96%;
  height: auto;
  margin: 20px auto;
  border-radius: 4px;
}



.product-section-2 {
  width: 100%;
  height: auto;
  margin: 20px auto;
  border-radius: 4px;
}



/* Remove Default Style */

a {
  text-decoration: none;
}

/* Pre Define Classes */

.flex {
  display: flex;
  align-items: center;
}

.align-items {
  align-items: normal;
}



.sidebar.open {
  width: 80px;
}


.main-content {
  flex-grow: 1;
  transition: margin-left .5s ease;
}

.main-content.closed {
  margin-left: 270px;
}

.main-content.open {
  margin-left: 80px;
}

/* Main Class */
.main {
  padding: 20px;
}